<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Eat Da Burger</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 burgersFresh">
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">{{burger_name}}
                    <button data-burgerid="{{id}}" class="devourBurger">
                        Devour!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6 burgersDevoured">
            <ul class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Which burger do you want?</h2>
            <form class="burgerInput">
                <textarea type="text" name="newBurger"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>